::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline; 
    font-family: 'Cousine', monospace;
}

.welcome, .menu, .menu1{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-color: white;
    position: fixed;
    z-index: 2;
    
}
.nav__a {
    margin-right: 2.3em;
    font-size: larger;
    color: rgb(44, 44, 44);
    transition: all 0.5s ease;
}

.nav__a:hover {
    color: rgb(95, 95, 95);
}

.menu {
    position: relative;
    animation-name: venida;
    animation-duration: 2s;
    animation-delay: 0s;
    
    
}

.menu1 {
    position: relative;
    animation-name: venida1;
    animation-duration: 2s;
    animation-delay: 0s;
    
    
}

@keyframes venida {
    from {top: 1500px;}
    to {top: 0px;}
}

@keyframes venida1 {
    from {top: -1500px;}
    to {top: 0px;}
}
.welcome__h1 {
    transition: all 0.6s ease;
    color: rgb(54, 54, 54);
    font-size: 10vw;
    
}

.welcome__h1:hover {
    color: rgb(211, 211, 211);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.menu__li:hover {   
    color: #6D2E46;
    text-shadow: 1px 1px 1px 1px #000000c9;
}

.menu__li {
    color: rgb(27, 27, 27);
    transition: all 0.6s ease;
    text-align: center;
    margin: 0.6em 0;
    font-size: 5.5vw;
    text-shadow: 1px 1px #4b4b4b7e;
}


#trigger1 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin: -68px 0 0 -100px;
    z-index: 3;
}
#bg {
    background-color: white;
    
}

#trigger1:hover ~ #bg {
    transition: all 0.5s ease;
    background: rgb(255, 153, 153);
}
#trigger2 {
    position: absolute;
  
    width: 300px;
    height: 300px;
    top: 0%;
    left: 0%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger2:hover ~ #bg {
    transition: all 0.5s ease;
    background: #CEBEBE;
}
#trigger3 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 0%;
    left: 20%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger3:hover ~ #bg {
    transition: all 0.5s ease;
    background: #ECE2D0;
}
#trigger4 {
    position: absolute;
   
    width: 300px;
    height: 300px;
    top: 0%;
    left: 40%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger4:hover ~ #bg {
    transition: all 0.5s ease;
    background: D5B9B2
}
#trigger5 {
    position: absolute;
   
    width: 300px;
    height: 300px;
    top: 0%;
    left: 60%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger5:hover ~ #bg {
    transition: all 0.5s ease;
    background: #A26769
}
#trigger6 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 0%;
    left: 80%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger6:hover ~ #bg {
    transition: all 0.5s ease;
    background: #6D2E46
}
#trigger7 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 10%;
    left: 90%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger7:hover ~ #bg {
    transition: all 0.5s ease;
    background: rgb(255, 192, 253);
}
#trigger8 {
    position: absolute;
 
    width: 300px;
    height: 300px;
    top: 50%;
    left: 20%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger8:hover ~ #bg {
    transition: all 0.5s ease;
    background: #D5B9B2;
}
#trigger9 {
    position: absolute;
   
    width: 300px;
    height: 300px;
    top: 50%;
    left: 80%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger9:hover ~ #bg {
    transition: all 0.5s ease;
    background: #A26769;
}
#trigger10 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 70%;
    left: 0%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger10:hover ~ #bg {
    transition: all 0.5s ease;
    background: #ECE2D0;
}
#trigger11 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 70%;
    left: 20%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger11:hover ~ #bg {
    transition: all 0.5s ease;
    background: #CEBEBE;
}
#trigger12 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 70%;
    left: 60%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger12:hover ~ #bg {
    transition: all 0.5s ease;
    background: #6D2E46;
}

#trigger13 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 70%;
    left: 80%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger13:hover ~ #bg {
    transition: all 0.5s ease;
    background: #ECE2D0;
}

#trigger14 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 80%;
    left: 80%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger14:hover ~ #bg {
    transition: all 0.5s ease;
    background: #A26769;
}

#trigger15 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 60%;
    left: 70%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger15:hover ~ #bg {
    transition: all 0.5s ease;
    background: #ECE2D0;
}
#trigger16 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 60%;
    left: 40%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger16:hover ~ #bg {
    transition: all 0.5s ease;
    background: #A26769;
}

#trigger17 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 40%;
    left: 20%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger17:hover ~ #bg {
    transition: all 0.5s ease;
    background: #6D2E46;
}
#trigger18 {
    position: absolute;
    
    width: 300px;
    height: 300px;
    top: 30%;
    left: 50%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger18:hover ~ #bg {
    transition: all 0.5s ease;
    background: #CEBEBE;
}


#bg {
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgb(255, 255, 255);
}


#trigger {
    position: absolute;
    width: 200px;
    height: 136px;
    top: 50%;
    left: 50%;
    margin: -68px 0 0 -100px;
    z-index: 2;
}

#trigger:hover ~ #bg {
    transition: all 3s ease;
    background: #6D2E46;
}

/* .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.body__h1 {
    font-size: 160%;
    margin: 0, 10vw;
    position: fixed;
    top: 6vh;
    left: 90vw;
    z-index: 2;
}

.body__title {
    font-size: 160%;
    margin: 0, 5vw;
    position: fixed;
    top: 10vh;
    left: 4vw;
    z-index: 2;
} 



.body__div {
    max-width: 1300px;
    margin: auto;
    padding-top: 5em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.body__div2 {
    display: flex;
    flex-direction: row;
}

.bloque {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    /*min-width: 50vw; */
    z-index: 1;
    width: 100%;
}

header {
    margin-left: 3em;
    font-size: 2em;
  
}


.body__column {
    margin: 2em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bg1 {
    position: fixed;
    width: 100vw;
    height: 150px;
    background-color: white;
    z-index: 2;
}

.aboutMeContainer {
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.img {
    width: 80%;
}




/*
mobile
*/
@media only screen and (max-width: 319px) {
    
    }
    .menu__li {
        margin: 13vh 0 13vh 0;
    }
    .body__h1 {
        font-size: 100%;
        position: fixed;
        top: 4vh;
        left: 70vw;
    }
    
    .flex {
        display: flex;
        flex-direction: column;
    }
    


@media only screen and (min-width: 320px) and (max-width: 767px) {
   

    .menu__li {
        margin: 9vh 0 9vh 0;
    }
    .body__h1 {
        font-size: 130%;
        position: fixed;
        top: 10vh;
        left: 77vw;
    }

    
    .body__div2 {
        
        display: flex;
        flex-direction: column;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    iframe {
        height: 11.7em;
        width: 100%
    }
    
}



/*
tablet
*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
   
    .menu__li {
        margin: 8.4vh 0 8.4vh 0;
    }
    .body__h1 {
        font-size: 160%;
        position: fixed;
        top: 10vh;
        left: 80vw;
        
    }
    .body__column {
        display: flex;
        flex-direction: column;
    }
    .body__div2 {
        margin: 1vh 1vw;
        display: flex;
        flex-direction: column;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }

    iframe {
        height: 25em;
        width: 100%
    }
    
}

/*
normal desktop
*/
@media only screen and (min-width: 1024px) and (max-width: 1299px) {
    iframe {
        height: 18em;
        width: 100%
    }
}

/*
large desktop
*/
@media only screen and (min-width: 1300px) {
    .bg1 {
        position: fixed;
        width: 100vw;
        height: 92px;
        background-color: white;
        z-index: 2;
    }
    iframe {
        height: 20em;
        width: 100%;
    }
}